.hr-mid{
  padding: 20px;
}
#hr-main-text{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  padding: 20px;
  color: white;
  background-color: black;
  border-bottom: 14px groove #bbb;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hr-content{
    font-size: 18px;
    display: -webkit-flex;
}
.hr-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.outside-shot{
    border-radius: 50px;
    max-width:30%;
}
.coupon-img{
    border-radius: 8px;
    max-width: 500px;
}

.coupon {
    border: 5px dotted #bbb; /* Dotted border */
    border-radius: 15px; /* Rounded border */
    max-width: 100%;
    height: auto;
    margin-left: 20%;
  } 
  .container {
    padding: 2px 16px;
    background-color: #f1f1f1;
    border-radius: 15px;
    max-width: 550px;
    max-height: fit-content;
  }
  .promo {
    background: #ccc;
    padding: 3px;
  } 
  .expire {
    color: red;
  }



/* Style the form element with a border around it */
form {
  border: 5px ridge #bbb;;
  }
  
  /* Add some padding and a grey background color to containers */
  .container-2 {
    padding: 21px;
    background-color: #f1f1f1;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8 8 8 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #000000;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }



.hr-review{
  padding: 20px;
  text-align: center;
  background-color:black
}

.container-3 {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.bottom-page{
  padding: 60 120 60 120;
  display: -webkit-flex;
  border: 14px groove #bbb;
  justify-content: space-evenly;
}

.hr-request{
  max-width: 40%;
  display: grid;
}

.contact-div{
background-color: #e8eaed;
border: 14px groove #bbb;
}

.contact-info{
  padding-left: 10px;
}

#googleMap{
  display: -webkit-flex;
  border: 2px solid black;
}

.google-text{
  padding-left: 100px;
}

.hr-review h2{
  color: white;
}

.hr-start{
  background-color: #e8eaed;
}

#hr-business{
  margin-right: 20px;
  font-size: 20px;
}

.hr-row{
  border: 14px groove #bbb;

}

.hr-row .hr-content{
  padding: 0 100 60 100;
  justify-content: space-between;
}

.hr-mid-content{
  padding: 20px;
}

#hr-pic .hr-mid-content{
  padding-right: -20px;
}

